{% extends "main/layout.html" %}
{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    <div class="registration-form-div">
        <div>
            <h1 class="registration-title"> Регистрация </h1>
            <form method="post">
                {% csrf_token %}
                {% for f in form %}
                    <p><label class="form-label" for="{{ f.id_for_label }}"> {{ f.label }}: </label>{{ f }}</p>
                    {{ f.errors }}
                {% endfor %}
                <button type="submit" class="btn registration"> Регистрация </button>
            </form>
        </div>
        <p style="margin-top: 20px;"> У вас уже есть аккаунт? <a href="{% url 'login' %}"> Войти </a></p>
    </div>
{% endblock %}
