body {
    background: url('https://t4.ftcdn.net/jpg/03/01/90/79/360_F_301907970_ZVaPcSGe9rgYgRMRGUcbf91YxNwB7d2W.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.address-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
}

.address-form button {
  margin-top: 2rem;
  border-radius: 8px;
  border: 2px solid #000;
  width: 60%;
  height: 40px;
  margin-left: 18.5%;
  margin-bottom: 8%;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #79d1c2; /* Цвет фона кнопки */
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Анимация смены цвета фона */
}

.address-form button:hover{
    background-color: #070a0e;
    border-color: #79d1c2;
    color: #79d1c2;
}

.address-form input {
  padding: 0.3em;
  width: 85%;
  margin-left: 5%;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.address-form textarea {
  width: 85%;
  min-height: 6em;
  margin-left: 5%;
}

.address-form label {
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-left: 5%;
  margin-bottom: 8px;
}

.address-form select {
  font-size: 16px;
  margin-left: 5%;
  width: 85%;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #ccc;
}

.postal-code {
  width: 50%;
}

