{% extends "main/layout.html" %}
{% load catalog_tags %}

{% block title %}{{ item_card.title }}{% endblock %}

{% block content %}
    <div class="details-view">
        <div class="img-price">
            <img src="{{ item_card.image }}">
        </div>
        <div class="details-title">
            <h2> {{ item_card.title }}</h2>
            <h1> Цена: {{ item_card.price }} ₸ </h1>
            <p class="delivery"> Доставка в течение 7 дней </p>
            {% if item_card.is_available %}
            <p style="color: green;" class="availability"> В наличии </p>
            <form class="form-container" onsubmit="return validateForm()" method="POST" action="{% url 'addtocart' slug=item_card.slug %}">
                {% csrf_token %}
                <input class="form-input" value="1" type="text" name="quantity" id="quantity" pattern="\d+" title="Please enter a valid number" required>
                <button class="form-button" type="submit">В Корзину</button>
            </form>
            {% else %}
            <p style="color: red;" class="availability"> Нет в наличии </p>
            {% endif %}
        </div>
        <div class="description">
            <h2> Описание </h2>
            <p> {{ item_card.description|linebreaks }}</p>
        </div>
        {% if reviews %}
        <div class="all-reviews">
            {% for review in reviews %}
            <div>
                <h1> {{ review.user }}</h1>
                <p class="review-review"> Текст отзыва: {{ review.review }} </p>
                <p class="review-rating"> Оценка: {{ review.rating }}/5 </p>
                <p class="review-date"> {{ review.date }} </p>
            </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}

    <div class="review-form">
        <form action="{% url 'add-review' slug=item_card.slug %}" method="post">
        {% csrf_token %}
        {% if form.none_field_errors %} <div class="form-error"> {{ form.none_field_errors }} </div> {% endif %}

        {% for f in form %}
            {% if f.label == 'Текст отзыва' or f.label == 'Оценка' %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
            {% endif %}
        {% endfor %}
            <button onclick="location.replace(true);" type="submit" class="btn"> Опубликовать </button>
        </form>
    </div>

{% endblock %}
